<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script>window.angular || document.write('<script src="/bower_components/angular/angular.min.js"><\/script>');</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
<script>window.jQuery || document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"><\/script>')}</script>


<!-- <script src="/js/site.js"></script> -->
<script src="/js/myapp.js"></script>





<script>
$('.dropdown-toggle').click(function() {
    var location = $(this).attr('href');
    window.location.href = location;
    return false;
});
</script>
