
<!--
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
-->

<link href="{{site.url}}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{{site.url}}bower_components/bootswatch/yeti/bootstrap.min.css" rel="stylesheet">
<link href="{{site.url}}bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">

<!-- <link href="{{site.url}}css/site.css" rel="stylesheet"> -->

<style type="text/css">
	/* http://scotch.io/bar-talk/bootstrap-3-tips-and-tricks-you-might-not-know */
	@media only screen and (min-width : 768px) {
	    /* Make Navigation Toggle on Desktop Hover */
	    .dropdown:hover .dropdown-menu {
	        display: block;
	    }
	}
</style>