<!-- _includes/schule_navigation_side.html -->
<div class="sidebar bs-sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  <div role="complementary"> <!-- role="" -->
    <ul class="nav nav-tabs nav-stacked bs-sidenav ">
      {% include navitem.html nodeurl="schule/00-aktuell-wichtig/index.md" title='Aktuelles' %}
      <!-- dddd -->
      <li><a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/aktuell/">Aktuell</a></li>
      <li><a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="{{ site.schule }}/">Home</a></li>


      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: schule` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"path" %}
      {% for node in pages_list %}
        {% if node.path contains "schule/" %}
          {% if node.title != null %}
            {% if node.layout == "schule" %}

                <li {% if page.url == node.url %} class="active" {% endif %}>
                  <a class="sidebar-nav-item" href="{{ node.url }}">
                    {% if page.url == node.url %} <i class="fa fa-hand-o-right"></i> {% endif %}
                    {{ node.title }}
                    {% if page.url == node.url %} <i class="fa fa-hand-o-left"></i> {% endif %}
                  </a>
                </li>

            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
<!-- _includes/schule_navigation_side.html -->
