 <div> <!-- -->
  <ul class="nav left-menu">
    <li class="menu-title"><a href="/aktuell/">Blog</a></li>
    <li><a href="{{site.url}}{{ site.schule }}/">Herzlich willkommen</a></li>
    <li><a href="{{ site.schule }}/00-aktuell-wichtig/">Aktuell/Wichtig!</a></li>
    <li><a href="{{ site.schule }}/01-vorstellung/">Wir stellen uns vor</a>
    <ul>
    <li><a href="{{ site.schule }}/01-vorstellung/01-begruessung/">Begr&uuml;&szlig;ung</a></li>
    <li><a href="{{ site.schule }}/01-vorstellung/02-sprech-und-buerozeiten/">Sprech- und B&uuml;rozeiten</a></li>
    <li>Rund ums Haus
    <ul>
    <li><a href="{{ site.schule }}/01-vorstellung/03-im-und-rund-um-das-haus/01-lage-und-anfahrt/">Lage und Anfahrt</a></li>
    <li><a href="{{ site.schule }}/01-vorstellung/03-im-und-rund-um-das-haus/02-gebaeude-und-gelaende/">Geb&auml;ude und Gel&auml;nde</a></li>
    <li><a href="{{ site.schule }}/01-vorstellung/03-im-und-rund-um-das-haus/03-renovierungsaktionen/">Renovierungsaktionen</a></li>
    <li><a href="{{ site.schule }}/01-vorstellung/03-im-und-rund-um-das-haus/04-spind-angebot/">Spind-Angebot</a></li>
    <li><a href="{{ site.schule }}/01-vorstellung/03-im-und-rund-um-das-haus/05-mittagessen-und-hausaufgaben/">Mittagessen/Hausaufgaben</a></li>
    <li><a href="{{ site.schule }}/01-vorstellung/03-im-und-rund-um-das-haus/06-nachbarschaft/">Die Nachbarschaft</a></li>
    </ul></li>
    <li><a href="{{ site.schule }}/01-vorstellung/04-organigramm/">Organigramm</a></li>
    <li><a href="{{ site.schule }}/01-vorstellung/05-schulische-gremien/">Schulische Gremien</a></li>
    <li><a href="{{ site.schule }}/01-vorstellung/06-unser-portrait-des-monats/">Unser Portrait des Monats</a></li>
    <li><a href="{{ site.schule }}/01-vorstellung/07-pressespiegel/">Pressespiegel</a></li>
    </ul></li>
    <li><a href="{{ site.schule }}/02-anmeldung/">Anmeldung</a></li>
    <li><a href="{{ site.schule }}/03-berufsorientierung/">Berufsorientierung</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/">Unsere P&auml;dagogik</a>
    <ul>
    <li><a href="{{ site.schule }}/04-paedagogik/01-schulgeschichte/">Fahrtenangebote</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/02-schulprogramm/">Das Schulprogramm</a>
    <ul>
    <li><a href="{{ site.schule }}/04-paedagogik/02-schulprogramm/01-lehrerraum-prinzip/">Das Lehrerraum-Prinzip</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/02-schulprogramm/02-das-67-5-minuten-raster/">Das 67.5 Minutenraster</a></li>
    </ul></li>
    <li><a href="{{ site.schule }}/04-paedagogik/03-qualitaet/">Qualit&auml;t - mehr als ein Modewort</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/04-partner-und-patenschaften/">Partner und Patenschaften</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/">Unterricht</a>
    </ul></li>
    <ul>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/01-aktuelle-statistik/">Unsere Schule in Zahlen</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/02-kollegium/">Unser Kollegium</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/03-schulordnung/">Schulordnung</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/04-versetzungsordnung/">Versetzungsordnung</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/05-kopfnoten/">Kopfnoten</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/06-schulmaterial/">Schulb&uuml;cher und -material</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/07-schulbuecherei/">Schulb&uuml;cherei/Medien</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/08-schueleraustausch-frankreich/">Sch&uuml;leraustausch Frankreich</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/09-fahrtenangebote/">Fahrtenangebote</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/10-galerie-der-kunst-klassen/">Galerie der Kunst-Klassen</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/11-stundentafel/">Stundentafel</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/12-curriculum-undlehrplaene/">Curriculum und Lehrpl&auml;ne</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/13-schueler-helfen-schuelern/">Sch&uuml;ler helfen Sch&uuml;lern</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/14-ergaenzungs-und-foerderunterricht/">Erg&auml;nzungs- und F&ouml;rderunterricht</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/15-profilklassen/">Profil-Klassen</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/16-schulsozialarbeit/">Schulsozialarbeit</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/17-hilfe-bei-lernstoerungen/">Hilfe bei Lernst&ouml;rungen</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/18-hochbegabung/">Hochbegabung</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/05-unterricht/19-bunter-alltag/">Bunter Alltag</a></li>
    </ul></li>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/">Schullaufbahn</a>
    <ul>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/01-anmeldung/">Anmeldung</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/02-sanfter-uebergang/">Sanfter &Uuml;bergang - Lernen lernen!</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/03-startprojekt-ich-wir-einewelt/">Startprojekt Ich - Wir - Eine Welt</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/04-erprobungsstufe-klasse-5-und-6/">Erprobungsstufe Klasse 5 und 6</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/05-differenzierung-ab-klasse-7/">Differenzierung ab Klasse 7</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/06-lernstandserhebungen-in-klasse-8/">Lernstandserhebungen in Klasse 8</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/07-praktika/">Praktika</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/08-berufsvorbereitung/">Berufsvorbereitung</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/09-zentrale-pruefungen-in-klasse-10/">Zentrale Pr&uuml;fungen in Klasse 10</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/06-schullaufbahn/10-abschluesse-der-realschule/">Abschl&uuml;sse der Realschule</a></li>
    </ul></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/">Projekte</a>
    <ul>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/01-nachhaltigkeit-im-schulalltag/">Nachhaltigkeit im Schulalltag</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/02-schulprofil-gesund-lernen/">Schulprofil Gesund lernen</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/03-nachdenkraum-projekt/">Nachdenkraum-Projekt</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/04-streitschlichter-projekt/">Streitschlichter-Projekt</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/05-gewaltpraevention/">Gewaltpr&auml;ventionsprojekt</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/06-vorlesewettbewerb/">Vorlesewettbewerb</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/07-big-challenge/">Big Challenge</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/08-delf-zertifikat/">DELF Zertifikat</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/09-kaenguru-der-mathematik/">K&auml;nguruh der Mathematik</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/10-sponsorenlauf/">Sponsorenlauf</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/11-togo-projekt/">Togo-Projekt</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/07-projekte/12-sportveranstaltungen/">Sportveranstaltungen</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/08-arbeitsgemeinschaften/">Arbeitsgemeinschaften</a></li>
    <li><a href="{{ site.schule }}/04-paedagogik/09-merkheft/">Das Merkheft</a></li>
    </ul></li>
    <li><a href="{{ site.schule }}/05-termine/">Termine</a></li>
    <li><a href="{{ site.schule }}/06-schulcheck/">Schul-Check</a></li>
    <li><a href="{{ site.schule }}/07-eltern/">Eltern</a>
    <ul>
    <li><a href="{{ site.schule }}/07-eltern/01-schulpflegschaft/">Schulpflegschaft</a></li>
    <li><a href="{{ site.schule }}/07-eltern/02-klassenpflegschaft/">Klassenpflegschaft</a></li>
    <li><a href="{{ site.schule }}/07-eltern/03-fachkonferenzen/">Fachkonferenzen</a></li>
    <li><a href="{{ site.schule }}/07-eltern/04-foerderverein/">F&ouml;rderverein der Schule</a></li>
    </ul></li>
    <li><a href="{{ site.schule }}/08-schueler/">Sch&uuml;ler</a>
    <ul>
    <li><a href="{{ site.schule }}/08-schueler/01-wir-nehmen-einfluss/">Sch&uuml;ler</a></li>
    <li><a href="{{ site.schule }}/08-schueler/02-wir-wollen-es-wissen/">Wir wollen's wissen!</a></li>
    <li><a href="{{ site.schule }}/08-schueler/03-wir-koennen-was/">Wir k&ouml;nnen was!</a></li>
    <li><a href="{{ site.schule }}/08-schueler/04-wir-sind-gut-drauf--meistens/">Wir sind gut drauf! Meistens...</a></li>
    </ul></li>
    <li><a href="{{ site.schule }}/09-lehrer/">Lehrer</a></li>
    <li><a href="{{ site.schule }}/10-adressen/">Wichtige Links und Adressen!</a>
    <ul>
    <li><a href="{{ site.schule }}/10-adressen/01-ueben-und-lernen/">&Uuml;ben &amp; Lernen</a></li>
    <li><a href="{{ site.schule }}/10-adressen/02-arbeitsmaterialien-zum-download/">Arbeitsmaterialien zum Download</a></li>
    <li><a href="{{ site.schule }}/10-adressen/03-institutionen/">Institutionen</a></li>
    <li><a href="{{ site.schule }}/10-adressen/04-schulbuecher-kaufen/">Schulb&uuml;cher kaufen</a></li>
    <li><a href="{{ site.schule }}/10-adressen/05-links-zur-ausbildungsplatzsuche/">Links zur Ausbildungsplatzsuche</a></li>
    <li><a href="{{ site.schule }}/10-adressen/06-links-rund-um-schule-und-familie/">Links rund um Schule und Familie</a></li>
    </ul></li>
    <li><a href="{{ site.schule }}/11-meinungen/">Meinungen</a></li>
  </ul>
</div>