<!-- _includes/schule_navigation_side.html -->
<div class="sidebar bs-sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  <div role="complementary"> <!-- role="" -->
    <ul class="nav nav-pills nav-stacked">
      <li><a class="sidebar-nav-item{% if page.path == "aktuell/index.html" %} active{% endif %}" href="/aktuell/">Aktuell</a></li>

      {% assign pages_list = site.pages | sort:"path" %}
      {% for node in pages_list %}
        {% if node.path contains "schule/" %}
          {% if node.title != null %}
            {% if node.layout == "schule" %}

                <li {% if page.url == node.url %} class="active" {% endif %}>
                  <a class="sidebar-nav-item" href="{{ node.url }}">
                    {{ node.title }}
                    {% if page.url == node.url %} <i class="fa fa-hand-o-left"></i> {% endif %}
                  </a>
                </li>

            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="sidebar-item">
    <p>site.schule = {{ site.schule }}</p>
    <p>page.url = {{ page.url }}</p>
    <p>page.path = {{ page.path }}</p>
  </div>
</div>
<!-- _includes/schule_navigation_side.html -->
