<!DOCTYPE html>
<html lang="de">
  <head>
    {% include meta_tags.html %}
    <link rel="alternate" type="application/rss+xml" title="Ionic Framework Blog" href="{{ site.url }}/feed.xml">
    <title>{{page.title}}</title>
    {% include head_includes.html %}
  </head>

  <body class="blog-page {{page.body_css}}">

    {% include nav_links.html %}
    {% include header.html %}

    <div class="container content-container">
      <div class="row">
        <div class="col-md-2 col-sm-3 aside-menu">
           {% include schule_navigation.html %}
        </div>

        <div class="col-md-10 col-sm-9 main-content">
          <div id="blog-wrapper">
            <div id="posts">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>

    
	
    <footer class="footer">
      <p>
      </p>
    </footer>

    {% include footer.html %}
    {% include base_scripts.html %}
  </body>
</html>
