<!DOCTYPE html>
<html lang="de" data-ng-app="myApp">
  <head>
    {% include meta_tags.html %}
    <title>{{page.title}} - Realschule Golzheim</title>
    {% include head_includes.html %}
  </head>

  {% if page.full %}
  <body class="body-full docs-page docs {{ page.body_css }}">
  {% else %}
  <body class="docs-page docs {{ page.body_css }}">
  {% endif %}

    {% include header.html %}

    <div class="container content-container">
      <div class="row">
        <div class="col-xs-3">
          {% include schule_navigation_side.html %}
        </div>
        <div class="col-xs-9 main-content">
          <h1>{{ page.title }}</h1>
          <div>{{ content }}</div>
        </div>
      </div>
    </div>

    {% include footer.html %}
    {% include base_scripts.html %}
  </body>
</html>
